.Navbar {
  height: 70px;
  border-bottom: 0.5px solid rgb(189, 189, 189);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gray;
}

.messageInfo {
  display: flex;
  align-items: right;
  flex-direction: column;
  padding: 3px;
}

.name {
  font-weight: bold;
}

.wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.icon {
  font-size: 20px;
}
